<form class="mt-4" name="container-form" method="POST" action="/courses/handle-form-actions">
    <div style="display: flex; justify-content: space-between">
        <h3>Khoá học của bạn</h3>
        <a class="mt-2" href="/me/trash/courses"> 
            <i class="fas fa-trash"></i> 
            Thùng rác ({{ deletedCount }})
        </a>
    </div>
    <div class="mt-4 mb-4 d-flex align-items-center">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="checkbox-all">
            <label class="form-check-label" for="checkbox-all">Chọn tất cả</label>
        </div>
        <div class="select-options">
            <select id="select-all-options" class="form-select" name="action" required>
                <option value="">-- Hành Động --</option>
                <option value="delete">Xoá</option>
            </select>
        </div>
        <button class="btn btn-primary btn-sm checkbox-submit-btn" disabled>Thực hiện</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">
                    Tên khoá học
                    {{{sortable 'name' _sort}}}
                </th>
                <th scope="col">Mô tả</th>
                <th scope="col">
                    Thời gian tạo
                    {{{sortable 'createdAt' _sort}}}
                </th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="courseIds[]" value="{{this._id}}">
                    </div>
                </th>
                <th scope="row">{{ sum @index 1 }}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-dark">Sửa</a>
                </td>
                <td>
                    <a href="" class="btn btn-dark" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-course-modal">Xoá</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td class="text-center" colspan="5">
                    Bạn chưa đăng khoá học nào. 
                    <a href="/courses/create">Tạo mới khoá học ngay</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>


{{!-- Confirm delete course --}}

<div class="modal" id="delete-course-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xoá khoá học?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xoá khoá học này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-delete-course" class="btn btn-danger">Xoá bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
            </div>
        </div>
    </div>
</div>

{{!--  Delete hidden form  --}}
<form method="POST" name="delete-form"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        
        var courseID; 
        var deleteForm = document.forms['delete-form'];
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var containerForm = document.forms['container-form'];
        var checkboxAll = $('#checkbox-all');
        var checkboxCourseItems = $('input[name="courseIds[]"]');
        var checkboxSubmitBtn = $('.checkbox-submit-btn');

        // Khi dialog confirm clicked
        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseID = button.data('id');
        })
        
        btnDeleteCourse.onclick = function () {
            deleteForm.action = `/courses/${courseID}?_method=DELETE`;
            deleteForm.submit();
        }

        // checkbox all changed
        checkboxAll.change(function () {
            var isChecked = $(this).prop('checked');
            checkboxCourseItems.prop('checked', isChecked);
            renderCheckboxAllBtn()
        })

        // checkbox course items changed
        checkboxCourseItems.change(function (e) {
            var isCheckedAll = checkboxCourseItems.length === $('input[name="courseIds[]"]:checked').length;
            checkboxAll.prop('checked', isCheckedAll);
            renderCheckboxAllBtn()
        })

        // re-render checkbox all submit btn
        function renderCheckboxAllBtn() {
            var checkedCount = $('input[name="courseIds[]"]:checked').length;
            if (checkedCount > 0) {
                checkboxSubmitBtn.attr('disabled', false);
            } else {
                checkboxSubmitBtn.attr('disabled', true);
            }
        }
    })
</script>